body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: -50px;
}

#banner-container {
  position: relative;
  display: inline-block;
  height: 200px;
  margin-top: -80px;
}

#banner {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
#game-area {
  position: relative;
  margin-top: -75px;
}
#ref {
  position: absolute;
  top: 0px;
  right: 200px;
  max-width: 120px;
  height: auto;
  border: 2px solid rgba(240, 117, 213, 0.959);
  border-radius: 5px;
}

#board {
  width: 90vw;
  max-width: 360px;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  border: 10px solid rgba(240, 117, 213, 0.959);
  border-radius: 8px;
  background-color: rgb(240, 117, 213, 0.959);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border: 1px solid rgba(162, 17, 175, 0.959);
}

@media (max-width: 600px) {
  #ref {
    max-width: 80px;
    top: 5px;
    right: 5px;
  }
}
